/* 游戏标签页 */
.el-tabs__item {
  color: #fff;
}
/* 激活的颜色 */
.el-tabs__item.is-active {
  color: #fff;
  font-weight: bold;
  background: linear-gradient(to right, #2f2f57, #342e72, #2f2f57);
}
.el-tabs__item:hover {
  color: #fff;
  font-weight: bold;
}