@font-face {
  font-family: "iconfont"; /* Project id 2724499 */
  src: url('//at.alicdn.com/t/font_2724499_f9zs2a6sj0s.woff2?t=1639040598014') format('woff2'),
       url('//at.alicdn.com/t/font_2724499_f9zs2a6sj0s.woff?t=1639040598014') format('woff'),
       url('//at.alicdn.com/t/font_2724499_f9zs2a6sj0s.ttf?t=1639040598014') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e603";
}

.icon-pinglun1:before {
  content: "\e60f";
}

.icon-rotate:before {
  content: "\e615";
}

.icon-xuanzhuan:before {
  content: "\e655";
}

.icon-changyonggoupiaorenshanchu:before {
  content: "\e645";
}

.icon-shibaibiaoqing:before {
  content: "\e638";
}

.icon-permission:before {
  content: "\e7ad";
}

.icon-xitongguanliyuan:before {
  content: "\e69b";
}

.icon-tuichudenglu:before {
  content: "\e70b";
}

.icon-quanping:before {
  content: "\e62a";
}

.icon-cancel-full-screen:before {
  content: "\e688";
}

.icon-pinglun:before {
  content: "\e628";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-fenxiang:before {
  content: "\e635";
}

.icon-menu_sqhd2:before {
  content: "\e64f";
}

.icon-mn_shengyinwu_fill:before {
  content: "\e600";
}

.icon-mn_shengyin_fill:before {
  content: "\e601";
}

.icon-102fangxiang_xiangxia:before {
  content: "\e62f";
}

.icon-103fangxiang_xiangzuo:before {
  content: "\e630";
}

.icon-100fangxiang_xiangshang:before {
  content: "\e632";
}

.icon-101fangxiang_xiangyou:before {
  content: "\e633";
}

.icon-tubiaozhizuo-:before {
  content: "\e608";
}

.icon-dan:before {
  content: "\e689";
}

.icon-she:before {
  content: "\e697";
}

.icon-snake:before {
  content: "\e602";
}

.icon-game:before {
  content: "\e618";
}

.icon-denglu:before {
  content: "\e604";
}

.icon-denglu1:before {
  content: "\e6bd";
}

.icon-close:before {
  content: "\e668";
}

.icon-minus:before {
  content: "\e67a";
}

.icon-add-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}
