@font-face {
  font-family: "iconfont"; /* Project id 2724499 */
  src: url('//at.alicdn.com/t/font_2724499_2eiaxfxjtxa.woff2?t=1630912889417') format('woff2'),
       url('//at.alicdn.com/t/font_2724499_2eiaxfxjtxa.woff?t=1630912889417') format('woff'),
       url('//at.alicdn.com/t/font_2724499_2eiaxfxjtxa.ttf?t=1630912889417') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e628";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-fenxiang:before {
  content: "\e635";
}

.icon-menu_sqhd2:before {
  content: "\e64f";
}

.icon-mn_shengyinwu_fill:before {
  content: "\e600";
}

.icon-mn_shengyin_fill:before {
  content: "\e601";
}

.icon-102fangxiang_xiangxia:before {
  content: "\e62f";
}

.icon-103fangxiang_xiangzuo:before {
  content: "\e630";
}

.icon-100fangxiang_xiangshang:before {
  content: "\e632";
}

.icon-101fangxiang_xiangyou:before {
  content: "\e633";
}

.icon-tubiaozhizuo-:before {
  content: "\e608";
}

.icon-dan:before {
  content: "\e689";
}

.icon-she:before {
  content: "\e697";
}

.icon-snake:before {
  content: "\e602";
}

.icon-game:before {
  content: "\e618";
}

.icon-denglu:before {
  content: "\e604";
}

.icon-denglu1:before {
  content: "\e6bd";
}

.icon-close:before {
  content: "\e668";
}

.icon-minus:before {
  content: "\e67a";
}

.icon-add-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}
